<h1>Welome freinds!</h1>
<nav>
	<ul>
		<li>
			<a routerLink='/'>Home</a>
		</li>
		<li>
			<a routerLink='/about'>About</a>
		</li>
		<li>
			<a routerLink='/links'>Links</a>
		</li>
		<li>
			<a routerLink='/resume'>Resume </a>
		</li>
		<h2>Resume: {{jobIndex}}</h2>
		<ul>
			<li *ngFor="let job of jobs">
				<a routerLink="/resume/{{job.id}}">{{job.title}}</a>
			</li>
		</ul>
	</ul>
</nav>
<router-outlet></router-outlet>
<!--<app-about></app-about>	
<app-links></app-links>
<app-resume></app-resume>-->	

